@font-face {
    font-family: 'THSarabunNew';
    src: url('../../fonts/thsarabunnew-webfont.eot');
    src: url('../../fonts/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/thsarabunnew-webfont.woff') format('woff'),
         url('../../fonts/thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../../fonts/thsarabunnew_bolditalic-webfont.eot');
    src: url('../../fonts/thsarabunnew_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/thsarabunnew_bolditalic-webfont.woff') format('woff'),
         url('../../fonts/thsarabunnew_bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../../fonts/thsarabunnew_italic-webfont.eot');
    src: url('../../fonts/thsarabunnew_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/thsarabunnew_italic-webfont.woff') format('woff'),
         url('../../fonts/thsarabunnew_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../../fonts/thsarabunnew_bold-webfont.eot');
    src: url('../../fonts/thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/thsarabunnew_bold-webfont.woff') format('woff'),
         url('../../fonts/thsarabunnew_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

body {
    font-family: 'THSarabunNew', sans-serif;
}

/* สไตล์เฉพาะ input ที่เป็น readonly */
.form-control:disabled, .form-control[readonly] {
    background-color: #fffef8;
}

.shadow-btn {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* เพิ่มเงา */
    transition: box-shadow 0.3s ease-in-out; /* ทำให้เงานุ่มขึ้น */
}

/* เพิ่มเอฟเฟกต์เมื่อ hover */
.shadow-btn:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.datepicker {
    padding: 22px !important;
}

.prev{
    border-radius: 30px 10px 10px 30px !important;
    background: #c2c0bd !important;
}
.next{
    border-radius: 10px 30px 30px 10px !important;
    background: #c2c0bd !important;
}